@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		@apply bg-primary-500;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/inter/inter.ttf') format('truetype');
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Inter';
		src: url('/fonts/inter/inter-italic.ttf') format('truetype');
		font-style: italic;
		font-display: swap;
	}
}
